/* frontend/src/index.css */

/* Reset Básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Corpo e Fontes */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFFFFF; /* Fundo Branco */
    color: #000000; /* Texto Preto */
}

/* Link padrão */
a {
    text-decoration: none;
    color: inherit;
}

/* Estilo para focar em botões e inputs */
button:focus, input:focus {
    outline: 2px solid #FFD700; /* Foco Dourado */
    outline-offset: 2px;
}